<div class="ui chat modal">
    <i class="close icon"></i>
    <div class="header">
        Chat Room
    </div>
    <div class="content">
        <div class="ui comments">
            <div class="comment">
                <a class="avatar">
                    <img style="height: auto" class="ui round image" src="/static/image/receptionist.png"/>
                </a>
                <div class="content">
                    <a class="author">Receptionist</a>
                    <div class="metadata">
                        <span class="date"></span>
                    </div>
                    <div class="text">
                        <p>How can I help you?</p>
                    </div>
                </div>
            </div>
        </div>
        <form class="ui reply form">
            <div class="field">
                <textarea id="message"></textarea>
            </div>
        </form>
    </div>
</div>

<button id="chat-btn" class="ui circular twitter icon button fixedbutton">
  <i class="wechat icon"></i>
</button>