{% extends "bases/base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block content %}
<div class="ui vertical segment">
    <div class="ui middle aligned stackable equal height grid container">
        <div class="sixteen wide column">
            <form class="wide ui reservation form segment column" method="GET" action="{% url 'reserve' %}">
                <h2 class="ui header">
                    <i class="lightning icon"></i>
                    <div class="content">
                        Quick Reservation
                    </div>
                </h2>
                <div class="two fields">
                    <div class="field required">
                        <label>When will you check in?</label>
                        <div class="ui labeled input">
                            <div class="ui green label">
                                <i class="calendar icon"></i>
                                Check In
                            </div>
                            <input type="date" name="check_in" value="{{ reservation.check_in|date:'Y-m-d' }}">
                        </div>
                    </div>
                    <div class="field required">
                        <label>When will you check out?</label>
                        <div class="ui labeled input">
                            <div class="ui green label">
                                <i class="calendar icon"></i>
                                Check Out
                            </div>
                            <input type="date" name="check_out" value="{{ reservation.check_out|date:'Y-m-d' }}">
                        </div>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field required">
                        <label>How many Adults? (18~)</label>
                        <div class="ui floating selection dropdown labeled icon fluid button">
                            <input type="hidden" name="n_adult"/>
                            <i class="users icon"></i>
                            <div class="default text"> Choose # of Adults </div>
                            <div class="menu">
                                <div class="item active selected" data-value="1">1 Adult</div>
                                <div class="item" data-value="2">2 Adults</div>
                                <div class="item" data-value="3">3 Adults</div>
                                <div class="item" data-value="4">4 Adults</div>
                                <div class="item" data-value="5">5 Adults</div>
                                <div class="item" data-value="6">6 Adults</div>
                            </div>
                        </div>
                    </div>
                    <div class="field required">
                        <label>How many Children?  (~17)</label>
                        <div class="ui floating selection dropdown labeled icon fluid button">
                            <input type="hidden" name="n_child"/>
                            <i class="child icon"></i>
                            <div class="default text"> Choose # of Children </div>
                            <div class="menu">
                                <div class="item active selected" data-value="0">0 Children</div>
                                <div class="item" data-value="1">1 Child</div>
                                <div class="item" data-value="2">2 Children</div>
                                <div class="item" data-value="3">3 Children</div>
                                <div class="item" data-value="4">4 Children</div>
                                <div class="item" data-value="5">5 Children</div>
                                <div class="item" data-value="6">6 Children</div>
                                <div class="item" data-value="7">7 Children</div>
                                <div class="item" data-value="8">8 Children</div>
                                <div class="item" data-value="9">9 Children</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Will you use a coupon? (optional)</label>
                        <div class="ui floating selection dropdown labeled icon fluid button">
                            <input type="hidden" name="coupon"/>
                            <i class="money icon"></i>
                            <span class="text">None</span>
                            <div class="menu">
                                <div class="item active selected" data-value="">None</div>
                                {% for coupon in user.coupons.all %}
                                    <div class="item" data-value="{{coupon.id}}">{{ coupon.discount }} Discount Coupon</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <input type="submit" class="ui right blue fluid button disabled" id="quick_reservation"
                       value="Please fill in the required fileds"/>
            </form>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment" id='information'>
    <div class="ui middle aligned stackable grid container">
        <h1 class="ui header" id="RoomInformation">
            <i class="hotel icon"></i>
            Room Information
        </h1>
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Deluxe room</h3>
                <p>Your dream escape awaits at Singapore’s most iconic luxury hotel. The Deluxe Room welcomes you with plush, gold-and-earth toned furnishings and abundant natural light from floor-to-ceiling windows.</p>
            </div>
            <div class="six wide right floated column">
                <img src="/static/image/deluxe_room.jpg" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Premier room</h3>
                <p>Relax in the contemporary comforts of your Premier Room, a bright and airy haven to uplift your body and spirit. Luxuriate in the deep-soaking bathtub, and relax with an array of convenient amenities including movies on demand and 24-hour room service.</p>
            </div>
            <div class="six wide right floated column">
                <img src="/static/image/premier_room.jpg" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Family room</h3>
                <p>Carefully designed with families in mind, this sanctuary is the perfect combination of convenience and comfort, offering all your living needs in one space. Located on the 2nd and 3rd floors, the Family Room has a furnished balcony spacious enough for the whole family to enjoy open-air dining amidst lush garden views. Unwind on the plush sofa for movie night with the kids, then indulge in a relaxing bathtub soak before retreating under the covers to recharge — there’s plenty to explore in and around Marina Bay Sands.</p>
            </div>
            <div class="six wide right floated column">
                <img src="/static/image/family_room.jpg" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button">Reservation</a>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment" id="facilities">
    <div class="ui middle aligned stackable grid container">
        <h1 class="ui header">
            <i class="building icon"></i>
            Facilities
        </h1>
        <div class="row">
            <div class="wide column">
                <h3 class="ui header">Gymnasium</h3>
                <p>This modern gym, designed with consideration to harmony of lights, provides ultimate relaxation in the middle of the city. It is equipped with the latest 3D Kinesis Station and ergonomic workout equipments from Technogym of Italy. Some 90 equipment will offer effective workouts. The gym is divided into Cardio Zone, Weight Zone, Free Weight Zone, and Stretch Zone for diverse purposes.</p>
            </div>
        </div>
        <div class="row">
            <div class="five wide floated column">
                <img src="/static/image/gym1.jpg" class="ui large bordered rounded image">
            </div>
            <div class="five wide floated column">
                <img src="/static/image/gym2.jpg" class="ui large bordered rounded image">
            </div>

        </div>
        <div class="row">
            <div class="wide column">
                <h3 class="ui header">Swimming Pool</h3>
                <p>Indoor swimming pool with the dimension of 8m*14m has the state-of-art facilities including automatic windows on the roof to allow guests to enjoy fresh air and sunshine from outside when desired. Clean water, waterfalls massage, oxygen room, and ultraviolet ray room add more pleasure to swimming.</p>
            </div>
        </div>
        <div class="row">
            <div class="wide right floated column">
                <img src="/static/image/swim.jpg" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="wide column">
                <h3 class="ui header">Golf Range</h3>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="five wide floated column">
                <img src="/static/image/golf1.jpg" class="ui large bordered rounded image">
            </div>
            <div class="five wide floated column">
                <img src="/static/image/golf2.jpg" class="ui large bordered rounded image">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('.ui.dropdown').dropdown();
    
    $('input[name=check_in], input[name=check_out], input[name=n_adult], input[name=n_child], input[name=coupon]').change(function () {
        console.log($(this).val());
        let beEnable = true;
        $('input[name=check_in], input[name=check_out], input[name=n_adult], input[name=n_child]').each(function () {
            if($(this).val() == '') {
                beEnable = false;
            }
        });
        let isValid = isValidPeriod();
        if (beEnable && isValid) {
            $('#quick_reservation').val('Next');
            $('.input.error.nag').remove();
            $('#quick_reservation').removeClass('disabled');
        } else if (beEnable && !isValid) {
            $('.input.error.nag').remove();
            // add notice nag
            $('.ui .form').append(`
                <div class="ui inline input error nag">
                  <span class="title">
                    Please Check Your Reservation Period
                  </span>
                  <i class="close icon"></i>
                </div>`);
            // show notice nag
            $('.input.error.nag').show();
            // bind click event
            $('.input.error.nag i.close.icon').on('click', function () {
                $('.input.error.nag').remove();
            })
        }
    });
    function isValidPeriod() {
        let check_in_date = new Date($('input[name=check_in]').val());
        let check_out_date = new Date($('input[name=check_out]').val());

        if ( check_in_date < new Date() ) {
            return false;
        } else if ( (check_out_date - check_in_date) > 0) {
            return true;
        } else {
            return false;
        }
    }
</script>
{% endblock %}