{% extends 'bases/base.html' %}

{% block content %}
<!--Header-->
<div class="ui hidden divider"></div>
<h1 id="header" class="ui header">
    Reservation
</h1>


<!--Step Navigator-->
<div class="ui container center aligned ordered steps">
    <div id="step1-nav" class="active step">
        <div class="content">
            <div class="title">Enter Information</div>
            <div class="description"></div>
        </div>
    </div>
    <div id="step2-nav" class="disable step">
        <div class="content">
            <div class="title">Choose Rooms</div>
            <div class="description"></div>
        </div>
    </div>
    <div id="step3-nav" class="disable step">
        <div class="content">
            <div class="title">Select Options</div>
            <div class="description"></div>
        </div>
    </div>
    <div id="step4-nav" class="disable step">
        <div class="content">
            <div class="title">Billing</div>
            <div class="description"></div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>


<!--Reservation Summary-->
<div id="reservation-summary"  style="display: none;">
    <div class="ui fluid green card ten wide column">
        <div class="content">
            <div class="header">Reservation Summary</div>
            <div class="description">
                <div class="ui list">
                    <div id="check-in-item" class="meta item">
                        <div class="ui fluid label">
                            <i class="calendar icon"></i>
                            <span id="check-in"></span> ~ <span id="check-out"></span>
                        </div>
                    </div>
                    <div id="n-adult-child-item" class="meta item">
                        <div class="ui fluid label">
                            <i class="users icon"></i>
                            <span id="n-adult"></span> Adults, <span id="n-child"></span> Childrens
                        </div>
                    </div>
                    <div id="coupon-item" class="meta item">
                        <div class="ui fluid label">
                            <i class="money icon"></i>
                            <span id="coupon"></span>
                        </div>
                    </div>
                    
                    <div id="room-item" class="meta item" style="display: none;">
                        <div class="ui fluid label">
                            <i class="cubes icon"></i>
                            <span id="room"></span>
                        </div>
                    </div>
                    
                    <div id="breakfast-item" class="meta item" style="display: none;">
                        <div class="ui fluid label">
                            <i class="food icon"></i>
                            <span id="n-breakfast"></span>
                        </div>
                    </div>
                    <div id="n-baby-bed-item" class="meta item" style="display: none;">
                        <div class="ui fluid label">
                            <i class="hotel icon"></i>
                            <span id="n-baby-bed"></span>
                        </div>
                    </div>
                    <div id="total-cost-item" class="meta item" style="display: none;">
                        <div class="ui big blue fluid label">
                            <i class="dollar icon"></i>
                            <span id="total-cost"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</div>

<form role="form" class="ui register large form" method="POST" action="{% url 'reserve' %}">{% csrf_token %}
    <!--Step1-->
    <div id="step1">
        <div class="ui step1 segment">
            <div class="two fields">
                <div class="field">
                    <label>When will you check in?</label>
                    <div class="ui labeled input">
                        <div class="ui green label">
                            <i class="calendar icon"></i>
                            Check In
                        </div>
                        <input type="date" name="check_in" value="{{ reservation.check_in|date:'Y-m-d' }}">
                    </div>
                </div>
                <div class="field">
                    <label>When will you check out?</label>
                    <div class="ui labeled input">
                        <div class="ui green label">
                            <i class="calendar icon"></i>
                            Check Out
                        </div>
                        <input type="date" name="check_out" value="{{ reservation.check_out|date:'Y-m-d' }}">
                    </div>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>How many Adults? (18~)</label>
                    <div class="ui floating selection dropdown labeled icon fluid button">
                        <input type="hidden" name="n_adult" value="1"/>
                        <i class="users icon"></i>
                        <div class="default text">1 Adult</div>
                        <div class="menu">
                            <div class="item active selected" data-value="1">1 Adult</div>
                            <div class="item" data-value="2">2 Adults</div>
                            <div class="item" data-value="3">3 Adults</div>
                            <div class="item" data-value="4">4 Adults</div>
                            <div class="item" data-value="5">5 Adults</div>
                            <div class="item" data-value="6">6 Adults</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>How many Children?  (~17)</label>
                    <div class="ui floating selection dropdown labeled icon fluid button">
                        <input type="hidden" name="n_child" value="0"/>
                        <i class="child icon"></i>
                        <div class="default text">0 Children</div>
                        <div class="menu">
                            <div class="item active selected" data-value="0">0 Children</div>
                            <div class="item" data-value="1">1 Child</div>
                            <div class="item" data-value="2">2 Children</div>
                            <div class="item" data-value="3">3 Children</div>
                            <div class="item" data-value="4">4 Children</div>
                            <div class="item" data-value="5">5 Children</div>
                            <div class="item" data-value="6">6 Children</div>
                            <div class="item" data-value="7">7 Children</div>
                            <div class="item" data-value="8">8 Children</div>
                            <div class="item" data-value="9">9 Children</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Will you use a coupon? (optional)</label>
                    <div class="ui floating selection dropdown labeled icon fluid button">
                        <input type="hidden" name="coupon">
                        <i class="money icon"></i>
                        <span class="text">None</span>
                        <div class="menu">
                            <div class="item active selected" data-value="">None</div>
                            {% for coupon in user.coupons.all %}
                                <div class="item" data-value="{{coupon.id}}">{{ coupon.discount }} Discount Coupon</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--Step2-->
    <div id="step2" style="display: none;">
        <div class="ui divided items">
            {% for room in rooms %}
                <div class="item room-item">
                    <div class="image">
                        <img class="ui rounded image" src="{{ MEDIA_ROOT }}{{ room.image.url }}">
                    </div>
                    <div class="content">
                        <h5 class="header room-type">{{ room.get_type_display }}</h5>
                        <div class="meta">
                            <span class="price cost-per-night">
                              <i class="dollar icon"></i>
                              {{ room.cost_per_night }} per night
                            </span>
                        </div>
                        <div class="description">
                            <p>{{ room.description }}</p>
                            <div class="ui list">
                                {% if room.feature1 %}
                                    <div class="item">
                                        <i class="info icon"></i>
                                        <div class="content">
                                            {{ room.feature1 }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if room.feature2 %}
                                    <div class="item">
                                        <i class="info icon"></i>
                                        <div class="content">
                                            {{ room.feature2 }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if room.feature3 %}
                                    <div class="item">
                                        <i class="info icon"></i>
                                        <div class="content">
                                            {{ room.feature3 }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="extra">
                            {% if room.f_promotion %}
                                <div class="ui label">
                                    <i class="gift icon"></i> Promotion
                                </div>
                            {% endif %}
                            {% if room.f_recommendation %}
                                <div class="ui label">
                                    <i class="certificate icon"></i> Recommended
                                </div>
                            {% endif %}
                            <div class="ui right floated">
                                <label># Room</label>
                                <div class="ui floating selection dropdown labeled icon fluid button">
                                    <input type="hidden" name="n_room"/>
                                    <i class="cubes icon"></i>
                                    <div class="default text">0</div>
                                    <div class="menu">
                                        <div class="item active selected" data-value="0">0</div>
                                        <div class="item" data-value="1">1</div>
                                        <div class="item" data-value="2">2</div>
                                        <div class="item" data-value="3">3</div>
                                        <div class="item" data-value="4">4</div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="room_id" value="{{ room.id }}"/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    <!--Step3-->
    <div id="step3" style="display: none;">
        <div class="ui segment">
            <div class="two fields">
                <div class="eight wide field">
                    <label>How many breakfast do you want? (each $16.50)</label>
                    <div class="ui labeled fluid input">
                        <div class="ui label">
                            <i class="food icon"></i>
                            Breakfast
                        </div>
                        <input name="n_breakfast" type="number" placeholder="" value="0"/>
                    </div>
                </div>
                <div class="eight wide field">
                    <label>Do you need a Baby Bed? (each $10.00)</label>
                    <div class="ui floating selection dropdown labeled icon fluid button">
                        <input type="hidden" name="n_baby_bed"/>
                        <i class="cubes icon"></i>
                        <span class="text">0</span>
                        <div class="menu">
                            <div class="item active selected" data-value="0">0</div>
                            <div class="item" data-value="1">1</div>
                            <div class="item" data-value="2">2</div>
                            <div class="item" data-value="3">3</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Additional Text</label>
                <textarea name="addendum" rows="2" placeholder="If you want, we will help you."></textarea>
            </div>
        </div>
    </div>
    
    <!--Step4-->
    <div id="step4" style="display: none;">
        <div class="ui step4 segment">
            <h4 class="ui dividing header">Billing Information</h4>
            <div class="field required">
                <label>Card Type</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="card_type">
                    <div class="default text">Type</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="VS">
                            <i class="visa icon"></i>
                            Visa
                        </div>
                        <div class="item" data-value="AE">
                            <i class="amex icon"></i>
                            American Express
                        </div>
                        <div class="item" data-value="DC">
                            <i class="discover icon"></i>
                            Discover
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field required">
                    <label>Card Number</label>
                    <input type="number" name="card_number" maxlength="16" placeholder="Card #">
                </div>
                <div class="three wide field required">
                    <label>CVC</label>
                    <input type="number" name="card_cvc" maxlength="3" placeholder="CVC">
                </div>
                <div class="six wide field required">
                    <label>Expiration</label>
                    <div class="two fields">
                        <div class="field">
                            <select class="ui fluid search dropdown" name="card_expire_month">
                                <option value="">Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="field required">
                            <input type="number" name="card_expire_year" maxlength="4" placeholder="Year">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="ui dividing header">Receipt</h4>
            <div id="receipt_field" class="field">
                <label>Send Receipt To:</label>
                <div class="ui fluid multiple search selection dropdown">
                    <input id="send_receipt" type="hidden" name="send_receipt">
                    <i class="dropdown icon"></i>
                    <div class="default text">Contacts</div>
                    <div class="menu">
                        <div class="item" data-value="Cell Phone" data-text="Cell Phone">
                            Cell Phone
                        </div>
                        <div class="item" data-value="E-mail" data-text="E-mail">
                            E-mail
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input id="b_send_receipt" type="checkbox" name="b_send_receipt" tabindex="0" class="hidden">
                            <label>I will receive reservation reminders the day before check-in</label>
                        </div>
                    </div>
                </div>
            </div>
            <button id="pay-submit-btn" type="submit" class="ui fluid large positive submit button">Pay</button>
            <div class="ui error message"></div>
        </div>
    </div>
</form>
<div class="ui hidden divider"></div>

<div>
    <div id="prev-btn" class="ui left floated left labeled red icon button" style="display: none;">
        <i class="left arrow icon"></i>
        Prev
    </div>
    <div id="next-btn" class="ui right floated right labeled blue icon button">
        <i class="right arrow icon"></i>
        Next
    </div>
</div>


<!--Payment Modal-->
<div class="ui small pay modal">
    <i class="close icon"></i>
    <div class="header">
        Payment is in progress automatically.
    </div>
    <div class="content">
        <div class="description">
            <p>If this window persists, please try again.</p>
            <p>Thank you for using our hotel.</p>
            <div class="ui indicating progress">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/reservation.js"></script>
{% endblock %}
